.looper {
    margin: auto;
    margin-top: 50px;
    border-radius: 25px;
    width: 800px;
    background-color: yellow;
    overflow: auto;
    display:flex;
    flex-direction: column; 
}

.masterLoop {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.mainMasterLoop {
    height: 80px;
    width: 100%;
    background-color: orange;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.button {
    height: 60px;
    width: 60px;
    font-family: "Courier New", Courier, monospace;
    display: inline-flex;
    flex-wrap: wrap;
    overflow: hidden;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    margin:20px;
}

.toggled {
    background-color: brown;
}

.loopList {
    list-style-type: none;
    margin: 0px;  
}

.loopItem {
    max-height: 0;
    opacity: 0;
    animation: grow 500ms ease-in-out forwards;
}

@keyframes grow {
    to {
        max-height: 100px;
        opacity: 1;
    }
}

.slider {
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;    
}

.sliderValBox {
    display: inline-flex;
    margin: 10px;
}

.downarrow {
    background-image: url(./images/downarrow.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    /*opacity: .4;      */
}

.uparrow {
    background-image: url(./images/uparrow.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    /*opacity: .4;      */
}

.masterExtension {
    height: 0px;
    transition: height 500ms;
    overflow: hidden;
    display:flex;
    width: 100%;
    background-color: orange;
    flex-direction: row; 
    justify-content: center;
    align-items: center;  
}

.visibleExtension{
    height: 100px;
}
